@use 'base/variables' as v;
@use 'base/mixins' as m;
.olvide {
    margin-top: v.$separacion;
    .uptask {
        @include m.textoDegradado(v.$rosa);
    }
    input[type="submit"] {
        @include m.boton(v.$rosa, v.$blanco);
        border-radius: .8rem;
    }
    .formulario {
        .campo {
            input {
                &:focus {
                    border: 1px solid v.$rosa;
                    color: v.$rosa;
                }
                &::selection {
                    background-color: v.$rosa;
                    color: v.$blanco;
                }
            }
        }
    }
    .acciones {
        a {
            color: v.$rosa;
            &:hover {
                color: darken(v.$rosa, 10);
            }
        }
    }
}